body {
  background-color: #ffffff;
}

/* Estilos para el contenedor de productos */

.productsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productsInfoContainer {
  margin: 0 4rem;
}

.productsInfoContainer h1 {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font: bold 1.4rem sans-serif;
}

.productsDetail table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}

.productsDetail th,
.productsDetail td {
  color: #444444;
  padding: 0.625rem;
  text-align: center;
  font: bold 0.9375rem sans-serif;
  border: 0.0625rem solid #c9c9c9;
}

.productsDetail th {
  color: #000000;
  text-align: center;
  font: bold 1.1rem sans-serif;
  background-color: #c9c9c9;
}

/* Estilos para el formulario */

.productsFormContainer {
  width: 60%;
  display: flex;
  margin-top: 3rem;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem 3.125rem;
  border: 0.0625rem solid #c9c9c9;
}

.productsFormContainer h1 {
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
  font: bold 1.4rem sans-serif;
}

.inputs {
  gap: 1.5rem;
  display: flex;
}

.productsFormBtn {
  text-align: center;
  margin-top: 1.25rem;
}

.productsFormBtn button {
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
  font: bold 1rem sans-serif;
  padding: 0.625rem 3.125rem;
  background-color: #007bff;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
  border: 0.0625rem solid #c9c9c9;
}
