<form method="POST" action="/api/sessions/register">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" />

  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" />

  <label for="email">Email</label>
  <input type="email" name="email" />

  <label for="age">Age</label>
  <input type="number" name="age" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  <label for="role">Rol</label>
  <input type="rol" name="role" />

  <button type="submit">Register</button>
</form>